.container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-right: 154px;
  margin-left: 154px;
}
.gridecl {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.tittle {
  display: flex;
  justify-content: center;
  background-color: rgb(20, 28, 75);
  color: white;
  margin: 0;
  padding: 20px;
}
